
.main{
  background-color:'gray' !important;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 1px 2px 10px rgb(141, 140, 140);
}

.auth{
  width: 100%;
}
.auth_Part_One{
  width: 50% !important;  
  border-right: 1px solid green;
  height: 350px;
  margin: 50px 0px 30px 0px;
  padding: 0px 50px;
}
.auth_Part_One h2{
  letter-spacing: 3px;
}
.auth_Part_One small{
  color: gray;
}
.auth_Part_One Button{
  width: 100%;
}
.auth_Part_One input{
  background:transparent;
	padding: 12px 15px;
	/* margin: 5px 0; */
	width: 100%;
}
.form-control:focus{
  outline: 0;
  box-shadow: none;
  font-size: 0.5 !important;
}
.form-control{
  font-size: 0.5rem !important;
}
.btn:focus {
  color: black; 
  background-color: none;
  border-color: none; 
  box-shadow: none
}


.auth_Part_Two{
  width: 50% !important; 
  height: 350px;
  margin: 50px 0px 30px 0px;
  padding: 0px 50px;
}
.auth_Part_Two h2{
  letter-spacing: 3px;
}
.auth_Part_Two small{
  color: gray;
}
.auth_Part_Two Button{
  width: 100%;
}


.registration_main{
  width: 100%;
  height: 650px;
  margin: 0 auto;
  margin-top: 80px ;
  margin-bottom: 80px;
  box-shadow: 1px 2px 10px rgb(141, 140, 140);
}
.res_auth_Part_One{
  width: 50% !important;  
  border-right: 1px solid green;
  height: 500px;
  margin: 50px 0px 30px 0px;
  padding: 0px 50px;
}
.res_auth_Part_One h2{
  letter-spacing: 3px;
}
.res_auth_Part_One small{
  color: gray;
}
.res_auth_Part_One Button{
  width: 100%;
}
.res_auth_Part_One input{
  background:transparent;
	padding: 12px 15px;
	margin: 5px 0;
	width: 100%;
}